<body>
  <div class="container-shadow"></div>
  <div class="container" style="height: 800px">
    <div class="wrap" style="margin-top: -70px;">
      <div class="headings">
        <h1 style="text-align: center;color: whitesmoke;">SIGNUP</h1>
      </div>
      <div>
        <form z method="post" style="margin-top: -60px;">
          <label >Registration Number</label>
          <input type="text" name="regno" id="regno" required>
          <label >Name</label>
          <input type="text" name="name" id="name" required>
          <label>Password</label>
          <input type="password" name="password" id="password" required>
          <label for="profs">Please Select a mentor:</label>
          <br>
          <select name="profs" id="profs" style="background-color: aliceblue;color: black;width: 100px;margin-left: 150px;font-size: 20px;margin-top: -50px;width: 100px;height: 40px;">
            <option style="font-size: 15px;" value="100503">100503</option>
            <option style="font-size: 15px;" value="100507">100507</option>
            <option style="font-size: 15px;" value="100511">100511</option>
            <option style="font-size: 15px;" value="100959">100959</option>
            <option style="font-size: 15px;" value="101296">101296</option>
          </select>
          <label>Email</label>
          <input type="password" name="email" id="email" required>
          <input type="submit" routerLink="/login" value="Signup" style="background-color: aliceblue;color: black;width: 100px;margin-left: 150px;font-size: 15px;">
        </form>
        <label style="margin-left: 50px;">Already Registered Account?</label>
        <a routerLink="/login" style="margin-left: 160px;color: whitesmoke;font-size: 20px;">Signup</a>
      </div>
      <br>
    </div><br><br>
  </div>

</body>

<!--
  <body>
  <div class="container-shadow"></div>
  <div class="container" style="height: 800px">
    <div class="wrap" style="margin-top: -70px;">
      <div class="headings">
        <h1 style="text-align: center;color: whitesmoke;">SIGNUP</h1>
      </div>
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="margin-top: -60px;">
          
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <div class="form-group">
            <label for="regno">Reg. No.</label>
            <input type="text" formControlName="regno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.regno.errors }" />
            <div *ngIf="submitted && f.regno.errors" class="invalid-feedback">
                <div *ngIf="f.regno.errors.required">regno is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="options">options</label>
            <input type="text" formControlName="options" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.options.errors }" />
            <div *ngIf="submitted && f.options.errors" class="invalid-feedback">
                <div *ngIf="f.options.errors.required">options is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
          
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Register</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
        </form>
        <label routerLink="/login" style="margin-left: 50px;">Already Registered Account?</label>
        <a routerLink="/login" style="margin-left: 160px;color: whitesmoke;font-size: 20px;">Login</a>
      </div>
      <br>
    </div><br><br>
  </div>

</body>
-->